SUPABASE_URL=https://vkartqgzceocpmadjxtv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZrYXJ0cWd6Y2VvY3BtYWRqeHR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNDM3MzYsImV4cCI6MjA5MTkxOTczNn0.7opKpj1c66G9wLloHbxPRTh59DEXHKw4ruoM8P07S5s